params {  
  refFasta = "$projectDir/data/ToxoDbReference/AnnotatedProteins.fsa"
  peptidesTab = "$projectDir/iedbPepAll/Combined/epitopes.tab"
  peptideGeneFasta = "$projectDir/data/ToxoDbPeptideData/epitopesGenpept.fasta"
  taxon = 5811
  peptideMatchResults = "PeptideMatches.txt"
  peptidesFilteredBySpeciesFasta = "PeptidesFilteredBySpecies.fasta"
  peptideMatchBlastCombinedResults = "peptideMatchBlastCombinedResults.txt"
  chunkSize = 500
  results = "$projectDir/Results"
}
docker{
  enabled = true
}
