
params {
    
    refFasta = "$projectDir/data/ReferenceProteome/AnnotatedProteins.fsa"
    peptidesTab = "$projectDir/data/PeptidesData/epitopes.tab"
    peptideGeneFasta = "$projectDir/data/PeptidesData/epitopesGenpept.fasta"
    blastMethod = "ncbiBlast"
    taxon = 5833
    
    results = "Result"
    }

    docker{
        enabled = true
    }
    